<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to "CoHo", root_path, id: "logo" %>
    </li>

    <li><%= link_to "Home", root_path %></li>

    <% if current_thirduser %>

      <p>Hi, <%= current_thirduser.name %></p>

      <li><%= link_to "Profile", profile_path %></li>

      <li>
        <%= link_to "Log out", logout_path, method: "delete" %>
      </li>
    <% else %>

      <% if logged_in? %>
      <li><%= link_to "Files", documents_path %></li>
      <li><%= link_to "Q&A", questions_path %></li>
      <li><%= link_to "News", links_path %></li>
      <li><%= link_to "Favourites", boxes_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Profile", current_user %></li>
      <% end %>

      <% end %>
    </ul>
  </div>
